<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.dcm4che3" level="warn"/>
    <logger name="ai.botkin.oncore.dicom.service.GetSCUService" level="info"/>
    <logger name="ai.botkin.oncore.dicom.service.FindSCUService" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

